html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.site-logo{
  position: absolute;
  left: 3%;
  top:3%;
}
.site-logo a{
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border-radius: 0.2rem;
  background-color:#2388FF;
  color:#fff;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
}
.about-content{
  position: relative;
  padding-top:5%;
}
.about-links{
  position: relative;
  transform: translateX(-0.6rem);
  margin-top: 2rem;
}
.about-links a{
  font-size: 2rem;
  color:#4C5764;
  text-decoration: none;
  background: #EFEFEF;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  border-radius: 2rem;
  transition: 0.2s ease;
  margin-bottom: 0.8rem;
}
.about-links a:hover:nth-child(1){
  color:#fff;
  background: #4C5764;
}
.about-links a:hover:nth-child(2){
  color:#fff;
  background: #ea4c89;
}
.about-links a:hover:nth-child(3){
  color:#fff;
  background: #0077B5;
}
.about-links a:hover:nth-child(4){
  color:#fff;
  background: #ff8140;
}
.about-links a:hover:nth-child(5){
  color:#fff;
  background: #0f88eb;
}
.about-mail{
  position: relative;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
.about-mail a{
  font-size: 2rem;
  color:#4C5764;
}
.about-desc{
  font-size: 1.5rem;
  color:#4C5764;
}
.about-desc p{
  margin-top: 0;
  position: relative;
}
.about-desc p > a{
  color: #4C5764;
  margin-left: 0.5rem;
  position: relative;
}
.wechat-img {
  width: 200px;
  position: absolute;
  bottom: 200%;
  right:10%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 20px #ddd;
  opacity: 0;
  transition: 0.15s ease;
  transform: translateY(20px);
  padding:10px 10px;
  background: #fff;
}
.wechat-id:hover + .wechat-img {
  opacity: 1;
  transform: translateY(0px);
}
.about-content h3{
  font-size: 4rem;
  font-weight: 600;
  margin-top:1rem;
  margin-bottom: 1rem;
}
.about-content p{
  font-size: 2rem;
  color:#4C5764;
}
.about-content-previous{
  margin-bottom:0;
}
.about-content-current{
  margin-top: 0;
}
.about-content p a{
  font-size: 2rem;
  color:#4C5764;
  text-decoration: none;
  transition: 0.2s ease;
}

.about-content p a:hover{
  color:#2388FF;
}

.about-content figure{
  height:8rem;
  width:8rem;
  display:block;
  background: url('./profile.jpg') no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin-left: 0;
}
.about-wrapper{
  position: absolute;
  width: 50%;
  left: 25%;
  padding-top: 5%;
}
@media (max-width:768px){
  .about-wrapper{
    position: absolute;
    width: 90%;
    left: 5%;
    padding-top: 5%;
  }
  .about-desc p>a {
    color: #4C5764;
    margin-left: 0rem;
    position: relative;
  }
}
